/* //-- yui-grids style overrides -- */

body { font-family: Georgia; color: #444; font-family: Verdana; font-size: 12pt;}

/* //-- header, body, footer -- */
#hd { margin: 2.5em 10em 3em 0; padding-bottom: 1.5em; border-bottom: 10px solid #ccc }
#hd h2 { text-transform: uppercase; letter-spacing: 2px; }
#bd, #ft { margin-bottom: 2em; }
div#main {background-color: #f8f8f8; margin-left: 10%;margin-right: 10%; padding-left: 5%; padding-right: 10%;}
div#content {background-color: #f8f8f8}
code { font: normal normal;	font-size: 100%; font-style: italic; font-family: monospace; color: #625f5f;}

/* //-- core typography and style -- */
h1 { font-size: 30px; text-transform: uppercase; letter-spacing: 3px; }
h2 { font-size: 120%; margin: 0%; padding-left: -5%;}
h3 { font-size: 110%; margin-top: 1%; margin-bottom: 0;} 
h4 { font-size: 90%; margin: 0%; font-style: normal;}
h1, h2, h3, h4 { color: #414141;}
p { font-size: 100%; margin: 0%;}
a:hover { text-decoration: none; }
strong { font-weight: bold; }
li {font-size: 100%}
ul {margin: 0%;}

/* image */

img[alt = "icon"]{
    max-height: 12pt;
}


/* //-- footer -- */
#ft { padding: 1em 0 5em 0; font-size: 100%; border-top: 1px solid #ccc; text-align: center; }
#ft p { margin-bottom: 0; text-align: center;   }