/* header */
.personalinfo { display: flex; align-items: center; margin-top: 2%;}
#leftcol {flex: 65%; border-right: 2px #414141; border-right-style: dashed; align-content: center;}
#rightcol {flex: 35%; border-left: 2px #414141; margin-left: 5%; align-content: end;}

.name { font-size: 250%; align-content:center; transform: uppercase; letter-spacing: 3px; text-align: center; margin-top: 2%; margin-bottom: 1%;}
.subname {font-size: 100%; text-align: center; margin: 0%;}
.info { font-size: 90%; align-content: center; align-items: center; text-align: left; margin: 0%;}

/* global: alternative font Garamond Georgia*/
body {display: flex; color: #282828; font-family: Garamond; font-size: 20px; color: #19324f;}
img[alt = "icon"]{max-height: 17px; height: 10%;}
div#main {background-color: #ffffff;}
div#content {background-color: #ffffff; border-style: solid; border-width: 2px; border-color: #92a6db; padding-inline: 2%; margin-left: 10%;margin-right: 10%;}
code { font: normal normal;	font-size: 90%; font-style: italic; font-family: monospace; color: #34639a;}

/* skill and competencies */
.skill-grid {display: grid; grid-template-columns: 50% auto; margin-top: 1%; grid-row: auto; align-items: center;}
.skil#radar{align-items: start; padding-bottom: -10%;}
.skil#list {align-items: start;}
.skill img{
    height: 90%;
    width: 90%;
    object-fit: contain;
    margin: 0%;
}


/* //-- core typography and style -- */
/* body */
h2 {font-size: 150%; margin: 0%; padding-left: -5%; color:#0086b2 ; padding-left: 2%; margin-left: -3%;margin-right: -3%;}
h3.company { font-size: 120%; margin-top: 1%; margin-bottom: 0; }
h4 {margin: 0%; font-style: normal;}
h1, h2, h3, h4 { color: #414141;}
h5 {margin-top: 0%;margin-bottom: 0%}
p {margin-top: 1%; margin-bottom: 1%;}
a:hover { text-decoration: none; }
strong { font-weight: bold; }
li {margin: 0.5%;}
ul {margin: 0%; margin-left: -1%;}
